body {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(67, 13, 67);
}

.ueber{
    margin-top: 20px;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 25px;
    width: 30%;
}

#question {
    min-height: 6.1rem;
    font-size: 2rem;
}

#question_counter{
    
}

#restart-btn {
    background-color: rgb(67, 13, 67);
    color: white;
    border-radius: 15%;
    height: 2.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.2rem;
}


#timer{
    display: flex;
    justify-content: center;
}

#score {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 900;
    color: #ff8989;
}

/* #ff8989  #ff8ac1 #ff54fc #ff54fc*/


#answer_submit_btn{
    color: white;
    background-color: rgb(165, 31, 165);
    border-radius: 15%;
    border-width: 1px;
    border-color: #ff8989;
}
#answer_submit_btn:hover {
    color: #ff8989;
}

#answer_submit_btn span{
    font-weight: 600;
}

.guess_container{
    font-weight: 600;
    font-size: 1.5rem;
}


@media screen and (max-width: 1450px) {
    .ueber{
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .ueber{
        width: 50%;
    }
}